<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<title>{0}</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<h2>{0}</h2>
{1}
</body>
</html>